@charset "utf-8";

@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff) format('woff');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff) format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face { 
	font-family: 'BBTreeCR';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeCR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html, body {
	overflow: hidden;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur816.cur), auto
}
a, a:-webkit-any-link, a *, i, button { cursor: url(http://cur.cursors-4u.net/others/oth-6/oth589.cur), auto; }
p, span, textarea, input[type=text] { cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur632.cur), auto; }
body {
	margin:0;
	background-image:url(bg.jpg);
	font-family:'noto sans', 'malgun gothic', dotum;
	font-size:15px;
	line-height:2.2;
	text-align:justify;
}
a	{ color:#999; text-decoration: none }


#bgm	{ position:absolute; left:calc(50% - 120px); top:-190px; width:240px; height:190px }
#bgm iframe	{ width:200px; padding:20px; border-radius:0 0 6px 6px; background:rgba(0,0,0,.1); }
#bgm i	{ 
	position: absolute;
	left: calc(50% - 20px);
	bottom: -35px;
	width: 40px;
	height: 35px;
	border-radius:0 0 6px 6px;
	background: rgba(0,0,0,.4);
	color: rgba(255,255,255,.1);
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
}
#bgm i:hover	{ color: rgba(255,255,255,.7) }
#bgm iframe		{ width:200px; } 

::selection			{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-moz-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-webkit-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }

section:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: scale(1.01);
}
section {
	overflow: hidden;
	position: relative;
}
article {
	display:none;
	position:relative;
	top:50px;
	max-width:700px;
	margin:100px auto;
	padding:0 2em;
	opacity:0;
	color:rgba(255,255,255,.9);
	text-shadow:0 0 1px #000;
}
.fiu {
	top:50px;
	animation-delay: 1s;
    animation-duration: 1s;
    animation-name: slideInUp;
    animation-fill-mode: both;
	-webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: slideInUp;
    -webkit-animation-fill-mode: both;
	transition: all 2s cubic-bezier(0.22, 0.44, 0, 1);
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
p {
	margin-bottom:0.5em;
	text-align:justify;
}
.fa-long-arrow-alt-right		{ float:right }
.fa-long-arrow-alt-right:hover	{ opacity:.5; transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1) }

#s1, #title		{
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	height: 100vh;
	color: #fff;
}

#s1:before		{ background-color:rgba(0,0,0,.5); }

#title h1 {
	font-size:2em;
	font-family:'BBTreeCR';
	color:rgba(255,255,255,.7);
	text-shadow:0 0 1px #000;
	text-align:center;
}
#title h1 span {
	display:block;
	float:left;
	position:relative;
}

#s1 .title{
	padding:0 3px;
	color:rgba(255,255,255,.6);
	line-height: 0;
	font-family:'Black Ops One', cursive;
	text-shadow:none;
    -webkit-animation: blink-caret 1s step-end infinite;
    animation: blink-caret 1s step-end infinite;
}

#s1 .title:hover #a2	{ color:rgba(255,255,255,.3); }
@-webkit-keyframes blink-caret {
    from, to {
		color: transparent
    }
    50% {
		color: rgba(255,255,255,.6)
    }
}
@keyframes blink-caret {
    from, to {
		color: transparent
    }
    50% {
		color: rgba(255,255,255,.6)
    }
}

#title:before,
#s2:before {
	z-index:-2;

	-webkit-filter: blur(5px) brightness(10%);
	-moz-filter: blur(5px) brightness(10%);
	-o-filter: blur(5px) brightness(10%);
	-ms-filter: blur(5px) brightness(10%);
	filter: blur(5px) brightness(10%);
}
#title 	{ margin:0 auto; padding:0 }
#title title	{
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	margin: 0 auto;
	text-align: center;
}
#title span	{
	color: rgba(255,255,255,.6);
	font-size: 72px;
	font-family: 'Caesar Dressing';
	line-height: 90vh;
	-webkit-transition: color .3s ease-in;
	-moz-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	cursor: cursor: url(http://cur.cursors-4u.net/others/oth-6/oth589.cur), auto;;
 }
#title span:hover	{ color:rgba(0,0,0,.1); }

@keyframes slideInUp {from {opacity:0;top:40vh}to {top:0;opacity:1}}
@-webkit-keyframes slideInUp {from {opacity:0;top:40vh}to {top:0;opacity:1}}
