@charset "utf-8";

@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff) format('woff');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff) format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face { 
	font-family: 'BBTreeCR';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeCR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

html, body {
	overflow: hidden;
	cursor: url(http://cur.cursors-4u.net/cursors/cur-9/cur816.cur), auto
}
a, a:-webkit-any-link, a *, i, button { cursor: url(http://cur.cursors-4u.net/others/oth-6/oth589.cur), auto; }
p, span, textarea, input[type=text] { cursor: url(http://cur.cursors-4u.net/cursors/cur-7/cur632.cur), auto; }
body {
	margin:0;
	font-family:'noto sans', 'malgun gothic', dotum;
	font-size:15px;
	line-height:2.2;
	text-align:justify;
}
a	{ color:#999; text-decoration: none }

#bgm	{  }
#bgm iframe	{ width:200px; } 

::selection			{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-moz-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-webkit-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }


.background {
  background-image: url('bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
}
.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.background:first-child {
  -webkit-transform: translateY(-15vh);
          transform: translateY(-15vh);
}
.background:first-child .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background:nth-child(2) {
  background-position: center center;
}
.background:nth-child(3) {
  background-position: bottom center;
}

/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 3;
}

.background:nth-child(2) {
  z-index: 2;
}

.background:nth-child(3) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  color: #fff;
  text-transform: uppercase;
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.background.up-scroll {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}
.background.up-scroll + .background {
  -webkit-transform: translate3d(0, 30vh, 0);
          transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  -webkit-transform: translateY(30vh);
          transform: translateY(30vh);
}

.background.down-scroll {
  -webkit-transform: translate3d(0, -130vh, 0);
          transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  -webkit-transform: translateY(40vh);
          transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  -webkit-transform: translate3d(0, -15vh, 0);
          transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  -webkit-transform: translateY(15vh);
          transform: translateY(15vh);
}


section:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: scale(1.02);
}
section {
	overflow: hidden;
	position: relative;
}
article {
	display:none;
	position:relative;
	top:50px;
	max-width:700px;
	margin:100px auto;
	padding:0 2em;
	opacity:0;
}
.fiu {
	top:50px;
	animation-delay: 1s;
    animation-duration: 1s;
    animation-name: fadeInUp;
    animation-fill-mode: both;
	-webkit-animation-delay: 1s;
    -webkit-animation-duration: 1s;
    -webkit-animation-name: fadeInUp;
    -webkit-animation-fill-mode: both;
}
p {
  	max-width:700px;
	margin:0.5em auto;
	text-align:justify;
}
h1 {
	font-family:'BBTreeCR';
	text-align:center;
}

#s1, #h1, #s2 {
	color:rgba(255,255,255,.9);
	text-shadow:0 0 1px #000;
}
#s1		{
	display:table-cell;
	width:100vw;
	height:90vh;
	vertical-align:middle;
}

#s1 b	{ cursor: url(http://rann.dothome.co.kr/yy/css/yh_a.ani), url(http://rann.dothome.co.kr/yy/css/yh_a_.gif), auto !important; }
#s1:before {
	background:#000 url(https://i.imgur.com/KMHkOYv.jpg) top center fixed;
	background-size:cover;

	-webkit-filter: blur(5px) brightness(50%);
	-moz-filter: blur(5px) brightness(50%);
	-o-filter: blur(5px) brightness(50%);
	-ms-filter: blur(5px) brightness(50%);
	filter: blur(5px) brightness(50%);
}
#s1 .h1{
	padding:0 3px;
	color: rgba(255,255,255,.6);
	line-height: 0;
	font-family:'Black Ops One', cursive;
	text-shadow:none;
    -webkit-animation: blink-caret 1s step-end infinite;
    animation: blink-caret 1s step-end infinite;
}
#s1 .h1:hover #a2	{ color:rgba(255,255,255,.3); }
@-webkit-keyframes blink-caret {
    from, to {
		color: transparent
    }
    50% {
		color: rgba(255,255,255,.6)
    }
}
@keyframes blink-caret {
    from, to {
		color: transparent
    }
    50% {
		color: rgba(255,255,255,.6)
    }
}

#h1:before,
#s2:before {
	z-index:-2;
	background:#000 url(https://i.imgur.com/KMHkOYv.jpg) top center fixed;
	background-size:cover;

	-webkit-filter: blur(5px) brightness(10%);
	-moz-filter: blur(5px) brightness(10%);
	-o-filter: blur(5px) brightness(10%);
	-ms-filter: blur(5px) brightness(10%);
	filter: blur(5px) brightness(10%);
}
#h1 	{ margin:0 auto; padding:0 }
#h1 h1	{
	display:none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	margin: 0 auto;
	text-align: center;
}
#h1 span	{
	color: rgba(255,255,255,.6);
	font-size: 72px;
	font-family: 'Caesar Dressing';
	line-height: 90vh;
	-webkit-transition: color .3s ease-in;
	-moz-transition: color .3s ease-in;
	-o-transition: color .3s ease-in;
	cursor: url(http://rann.dothome.co.kr/yy/css/yh_a.ani), url(http://rann.dothome.co.kr/yy/css/yh_a.gif), auto !important;
 }
#h1 span:hover	{ color:rgba(0,0,0,.1); }

@keyframes fadeInUp {from {opacity:0}to {top:0;opacity:1}}
@-webkit-keyframes fadeInUp {from {opacity:0}to {top:0;opacity:1}}
