@charset "utf-8";

@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-regular.woff) format('woff');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-demilight.woff) format('woff');
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: 'Noto Sans';
    src: url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff2) format('woff2'),
    url(//t1.daumcdn.net/tistory_admin/static/font/notokr-bold.woff) format('woff');
    font-style: normal;
    font-weight: bold;
}
@font-face { 
	font-family: 'BBTreeCR';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeCR.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
i, button	{ cursor:pointer }
html, body	{ scroll-behavior:smooth }

body {
	margin:0;
	background-image:url(bg.jpg);
	color:#fff;
	font-family:'noto sans kr', 'noto sans', 'malgun gothic', dotum;
	font-size:15px;
	line-height:2.2;
	text-align:justify;
}
a	{ text-decoration: none }

#bgm	{ position:absolute; left:calc(50% - 120px); top:-160px; width:240px; height:160px }
#bgm iframe	{ width:100%; height:100%; padding:20px; border-radius:0 0 6px 6px; background:rgba(0,0,0,.1); box-sizing:border-box }
#bgm i	{ 
	position: absolute;
	left: calc(50% - 20px);
	bottom: -35px;
	width: 40px;
	height: 35px;
	border-radius:0 0 6px 6px;
	background: rgba(0,0,0,.1);
	color: rgba(255,255,255,.3);
	font-size: 18px;
	line-height: 35px;
	text-align: center;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
}
#bgm i:hover	{ color: rgba(255,255,255,.6) }

::selection			{ color:transparent; text-shadow:0 0 2px #999; transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; }
::-moz-selection	{ color:transparent; text-shadow:0 0 2px #999; transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; }
::-webkit-selection	{ color:transparent; text-shadow:0 0 2px #999; transition:all .3s ease-in-out; -webkit-transition:all .3s ease-in-out; -ms-transition:all .3s ease-in-out; }

section:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: scale(1.01);
}
section { position: relative; }
article {
	display:none;
	position:relative;
	max-width:700px;
	margin:100px auto;
	padding:0 2em;
	color:rgba(255,255,255,.9);
	text-shadow:0 0 1px #000;
}
.fiu {
	opacity:0;
	top:50px;
	animation: slideInUp 2s ease-in-out .5s both;
	-webkit-animation: slideInUp 1s ease-in-out 3s both;
	-ms-animation: slideInUp 2s ease-in-out 3s both;
	will-change: transform;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
#s1 .fiu {
	animation-delay: 3s;
	-webkit-animation-delay: 3s;
	-ms-animation-delay: 3s;
}
p {
	margin:0.5em 0;
	text-align:justify;
	letter-spacing:-0.2px;
}
.fadeOut	{
	animation: fadeOut 1s ease-in-out both;
	-webkit-animation: fadeOut 1s ease-in-out both;
	-ms-animation: fadeOut 1s ease-in-out both;
}

.fa-long-arrow-alt-right		{ float:right }
.fa-long-arrow-alt-right:hover	{ opacity:.3 }

#s1, #title h1 {
	display:table-cell;
	width:100vw;
	height: 100vh;
	vertical-align:middle;
}
#s1:before		{ background-color:rgba(0,0,0,.5); }

#title		{ display:none }
#title h1 	{
	margin:0 auto;
	font-size:2em;
	font-family:'BBTreeCR';
	text-shadow:0 0 rgba(255,255,255,.5), 0 0 5px #84a8b4;
	text-align:center;
}
#title h1 i	{
	padding:0.7em 0.9em;
	background-image:linear-gradient(135deg, rgba(100,100,100,.1) 25%, transparent 0, transparent 50%, rgba(100,100,100,.1) 0, rgba(100,100,100,.1) 75%, transparent 0);
	-webkit-background-size:10px 10px;
	background-size:10px 10px;
	animation: zoomIn 1s ease-in-out both;
	-webkit-animation: zoomIn 1s ease-in-out both;
	-ms-animation: zoomIn 1s ease-in-out both;
}
#title h1 span		{
	opacity:0;
	display:inline-block;
	position:relative;
	background-image:linear-gradient(5deg, #203a58, #203a58 50%, #fff 50%);
	background-size: 100% 200%;
	background-position: 0% 0%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: rgba(255,255,255,.5);
	line-height:1;
	letter-spacing:8px;
	animation: waveFadeIn 1s ease-in-out 3s both;
	-webkit-animation: waveFadeIn 1s ease-in-out 3s both;
	-ms-animation: waveFadeIn 1s ease-in-out 3s both;
	transition:all 2s ease-in-out;
	-webkit-transition:all 2s ease-in-out;
	-ms-transition:all 2s ease-in-out;
}
#title h1 i:hover span {
	background-position: 100% 100%;
	-webkit-text-fill-color: transparent;
	text-shadow:0 0 5px #fff;
}
#title h1 .wave span	{
	animation: waveFadeOut 1s ease-in-out .1s both;
	-webkit-animation: waveFadeOut 1s ease-in-out .1s both;
	-ms-animation: waveFadeOut 1s ease-in-out .1s both;
}

#title h1 span:nth-child(1) {animation-delay:0.1s}
#title h1 span:nth-child(2) {animation-delay:0.2s}
#title h1 span:nth-child(3) {animation-delay:0.3s}
#title h1 span:nth-child(4) {margin-right:0.2em}
#title h1 span:nth-child(5) {animation-delay:0.4s}
#title h1 span:nth-child(6) {animation-delay:0.5s}
#title h1 span:nth-child(7) {animation-delay:0.6s}
#title h1 span:nth-child(8) {margin-right:0.2em}
#title h1 span:nth-child(9) {animation-delay:0.7s}
#title h1 span:nth-child(10) {animation-delay:0.8s}

#s2 article	{
	color:rgba(0,0,0,.8);
	text-shadow:none;
}	

@keyframes wave {
	0%	{ transform:translateY(0) }
	25%	{ transform:translateY(0.2em) }
	50% { transform:translateY(0) }
	75% { transform:translateY(-0.2em) }
	100% { transform:translateY(0) }
}
@-webkit-keyframes wave {
	0%	{ transform:translateY(0) }
	25%	{ transform:translateY(0.2em) }
	50% { transform:translateY(0) }
	75% { transform:translateY(-0.2em) }
	100% { transform:translateY(0) }
}
@keyframes waveFadeIn {
	0%	{ opacity:0 }
	25%	{ opacity:0.25;	transform:translateY(0.2em) }
	50% { opacity:0.5;		transform:translateY(0) }
	75% { opacity:0.75;	transform:translateY(-0.2em) }
	100% { opacity:1;		transform:translateY(0) }
}
@-webkit-keyframes waveFadeIn {
	0%	{ opacity:0 }
	25%	{ opacity:0.25;	transform:translateY(0.2em) }
	50% { opacity:0.5;		transform:translateY(0) }
	75% { opacity:0.75;	transform:translateY(-0.2em) }
	100% { opacity:1;		transform:translateY(0) }
}
@keyframes waveFadeOut {
	0%	{ opacity:1 }
	25%	{ opacity:0.75;	transform:translateY(0.2em) }
	50% { opacity:0.5;		transform:translateY(0) }
	75% { opacity:0.25;	transform:translateY(-0.2em) }
	100% { opacity:0;		transform:translateY(0) }
}
@-webkit-keyframes waveFadeOut {
	0%	{ opacity:1 }
	25%	{ opacity:0.75;	transform:translateY(0.2em) }
	50% { opacity:0.5;		transform:translateY(0) }
	75% { opacity:0.25;	transform:translateY(-0.2em) }
	100% { opacity:0;		transform:translateY(0) }
}
@keyframes slideInUp {
	from {opacity:0;top:3em}
	to {opacity:1;top:0}
}
@-webkit-keyframes slideInUp {
	from {opacity:0;top:3em}
	to {opacity:1;top:0}
}
@keyframes fadeOut {
	from {opacity:1}
	to {opacity:0}
}
@-webkit-keyframes fadeOut {
	from {opacity:1}
	to {opacity:0}
}
@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	100% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	100% {
		opacity: 1;
	}
}
